# -----------------------------
# Build artifacts
# -----------------------------
build/
*.o
*.elf
*.bin
*.iso
*.img
*.vdi

# disk images
disk.img
disk2.img

# -----------------------------
# Generated boot files
# -----------------------------
iso/boot/grub/grub.cfg

# -----------------------------
# Editors
# -----------------------------
.vscode/
*.swp
*.swo

# -----------------------------
# OS junk
# -----------------------------
.DS_Store

# -----------------------------
# Debug / temporary files
# -----------------------------
diff.txt
status.txt
tree.txt
qemu.log
vs-test.txt

# -----------------------------
# Local tools
# -----------------------------
client/
